// FUENTE   
$roboto: 'Roboto', sans-serif;
$paragraph :1.6rem;

// COLORES
$tomato: #ff5e53;
$dark_grey: hsl(234, 29%, 20%);
$charcoal_grey:hsl(235, 18%, 26%);
$grey:hsl(231, 7%, 60%);
$white:hsl(0, 0%, 100%);