@use "base/variable" as v;
@use 'base/mixins' as m;

.attribution {
  background-color: v.$white;
  padding: 0.5rem;
  text-align: center;

  @include m.tablet {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: block;
  }
  p {
    font-weight: 400;
  }

  a {
    text-decoration: none;
    color: v.$dark_grey;
    font-weight: bold;
  }
}
